<footer class="main-footer container-fluid">
    <div class="row footer-content py-5">

        <!--Formulario para suscribirse a un newsletter.-->
        <div class="col-12 col-md-4 newsletter">
            <h3 class="texto-footer">Escuela de Minas Dr. Horacio Carrillo</h3>
            <p>Recibe notificaciones de nuestra pagina.</p>
            <form class="subscribe-form" id="subscribeForm" (submit)="onSubmit($event)">
                <label for="footerEmail" class="sr-only">Rellena tu correo electrónico</label>
                <input type="email" id="footerEmail" placeholder="Tu correo electrónico" 
                       [(ngModel)]="email" name="email" (input)="onEmailInput()" [ngStyle]="inputStyle" required>
                <button type="submit" class="btn-submit" id="btnSubscribe" [disabled]="isBtnDisabled">Suscribir</button>
            </form>
            <span id="emailFeedback" class="email-feedback" [style.color]="feedbackColor">{{ feedbackMessage }}</span>
            <div id="subscribeSuccess" class="subscribe-success" *ngIf="isSubscribed">
                ✅ ¡Te has suscrito exitosamente!
            </div>
        </div>


        <!--Mapa interactivo-->
        <div class="col-12 col-md-4 map-container">
            <h3 class="texto-footer">Sede San salvador de Jujuy</h3>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1819.7547559919644!2d-65.2923698370894!3d-24.18892877711843!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941b0f5bc96fe71d%3A0x626881ca18e5dcfa!2sEscuela%20de%20Minas%20Dr.%20Horacio%20Carrillo!5e0!3m2!1ses-419!2sar!4v1781419420791!5m2!1ses-419!2sar"
                width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
                title="Mapa interactivo de la sede San salvador de Jujuy"></iframe>
        </div>
        <div class="col-12 col-md-4">
            <h3>Contacto</h3>
            <div class="social-media-icons d-flex gap-2">
                <a href="esculademinas@gmail.com" class="btn btn-outline-secondary border-0 p-1 d-flex align-items-center justify-content-center rounded-circle" title="Correo">
                    <i class="bi bi-envelope"></i>
                </a>
                <a href="https://www.instagram.com/escuelademinas/" target="_blank" class="btn btn-outline-secondary border-0 p-1 d-flex align-items-center justify-content-center rounded-circle" title="Instagram">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="https://www.facebook.com/escminasunju?locale=es_LA" target="_blank" class="btn btn-outline-secondary border-0 p-1 d-flex align-items-center justify-content-center rounded-circle" title="Facebook">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="https://wa.me/5438842215984221599" target="_blank" class="btn btn-outline-secondary border-0 p-1 d-flex align-items-center justify-content-center rounded-circle" title="WhatsApp">
                    <i class="bi bi-whatsapp"></i>
                </a>
            </div>
            <p>Horarios de atencion: Lun a Vier de 9:00 a 17:00Hs</p>
            
        </div>
    </div>

    <!--Mapa interactivo-->
    <div class="footer-bottom">
        <p>&copy; Escuela de Minas Dr. Horacio Carrillo. Todos los derechos reservados.</p>
        <a type="button" class="btn btn-outline-dark" href="https://www.instagram.com/canolautaroo/">Dark</a>
    </div>
</footer>
